@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("./fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("/fonts/GilroyRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {
    margin-top: 14px;
    margin-bottom: 14px;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    gap: 14px;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 30px;
}

.homelink {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.links {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.content {
    padding-top: 44px;
    padding-bottom: 162px;
    display: flex;
    gap: 40.94px
}

.content__media__h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.content__media__h4 {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.content__buttons {
    display: flex;
    gap: 72px;
}

.button_start {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    border: none;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    flex-shrink: 0;
}

.button_video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #ffffff;
    border: #FFF;
}

.footer {
    display: flex;
    justify-content: space-between;
}